.header{
    text-align: center;
    background-color: black;
}

.botaoH{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    background-color: #000000;
    border: none;
    font-size:29px;
    margin-left: 110px;
    margin-right: 110px;
    color: #B50073;
    background-color: black;
    font-weight: 1000;
}

.botaoH:hover{
    font-size: 30px;
    color: #5A12E4;
}

.botaoH:focus {
    color: #5A12E4;
}

.logo{
    width: 230px;
}

.logo:hover{
    width: 240px;
}

.linhaH {
    border: none;  
    height: 1.4px; 
    background-color: #5A12E4;
    width: 1900px;    
}


