.login{
    height: 100vh;
    background-color: black;
    justify-content: center;  
    align-items: center;
    display: flex;
    
}

.cardLogin{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    background-color: #ca369437;
    border: 2px solid #B50073;
    border-radius: 20px ;
    color: #B50073;
    font-size: x-large;
    width:auto;
    height:auto;
    font-weight:1000;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
}

.containsEmailSenha{
    text-align: left;
}

.linhaL {
    border: none;  
    height: 1px; 
    background-color: #B50073;
    width: 450px;    
}

.loginL{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    background-color: #ca369437;
    border: 2px solid #B50073;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    display: block;
    margin: 0 auto;
    background-color: #ca369437;
    color: #B50073;
    font-size: x-large;
    font-weight:1000;
    transition: transform 0.3s ease;
}

.loginL:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.355);
}

.senhaL{
    height: 35px;
    width:400px;
    border: 2px solid #B50073;
    border-radius: 8px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    background-color: #ca369437;
    font-size: large;
    color: white;
    font-weight:580;
}

.emailUsuL{
    height: 35px;
    width:400px;
    border: 2px solid #B50073;
    border-radius: 8px;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    background-color: #ca369437;
    font-size: large;
    color: white;
    font-weight:580;
}





.cadL{
    color: #B50073;
    font-size: 18px;
}